/* Ini file CSS */

body{
    font-family: Verdana;
}

main{
    max-width: 1000px ;
    justify-self: center;

    /* Background Matter */
    background-color: rgb(171, 174, 241);
    border-radius: 8px;
}

.main-header{
    text-align: center;
} 

section{
    padding: 8px;
}

.input-group{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(38, 38, 105);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

input[type="number"]:focus{
    border: 3px solid ;
}

.input-unit{
    font-weight: bold;
    background: rgb(158, 150, 243);
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.alert{
    color: red; 
    display: none;
}

.output-group{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.main-result{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.how-convert{
    background: rgb(158, 150, 243);
    font-size: 16px;
    margin-top: 0px;
    font-family: Arial;
    font-weight: bold;
}

.button-group{
    margin-top: 0px;
    font-size: 16px;
}

.button{
    padding: 8px;
    border-radius: 4px;
    padding-block: 5px;
    padding-inline: 5px;
}

.bg-purple{
    background-color: rgb(77, 85, 202);
    font-size: 16px;
    color: white;
}

.bg-red{
    background-color: rgb(227, 84, 84);
    font-size: 16px;
    color: white;
}

.bg-blue{
    background-color: rgba(85, 181, 212, 0.705) ;
    font-size: 16px;
}

.remark{
    font-weight: bold;
    font-size: x-large;
}

footer{
    text-align: center;
}
